#app-header {
  .app-header__disclaimer {
    position: fixed;
    left: 10px;
    top: 15px;
  }

  div {
    position: fixed;
    right: 0;
    top: 0;
    width: 75px;
    height: 75px;
    background-color: rgba(
      238,
      111,
      87,
      0.85
    ); //TODO find better colour for this, move it to variables.scss
    //TODO should be a triangle, not a square
  }
}
